@import url('https://fonts.googleapis.com/css?family=Roboto');

@keyframes example {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

.App {
  text-align: center;
  font-family: 'Roboto';
}

nav{
  align-items: center;
  font-family: 'Roboto';
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 2em;
}

a{
  text-decoration: none;
  color: black;
}

.nav-home{
  margin-left: 0.5em;
  font-size: 1.7em;
  font-weight: 300;
  letter-spacing: .2em;
}

.nav-links{
  margin: 0em 1em;
}

.nav-links:hover{
  text-transform: lowercase;
}

footer{
  margin: 5em 0em 1em 0em;
  color: grey;
  font-family: 'Roboto';
  font-size: 1.2em;
  font-weight: 200;
  padding: 1em;
}

header{
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20em;
  animation-name: example;
  animation-duration: 1s;
}

.header-container{
  width: 100vw;
  display: flex;
  align-items: center;
  background-image: linear-gradient(white, #b4b4ea, white);
  justify-content: center;
  height: 100%;
}

.header-bio{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 200;
  width: 34%;
}

.project-block {
  border: 1px solid black;
  width: 30em;
  height: 10em;
}

.project-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation-name: example;
  animation-duration: 1s;

}

.project-row{
  display: flex;
  justify-content: center;
}

.hvrbox * {
	box-sizing: border-box;
}

.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
  width: 40em;
  height: 22em;
  margin: 1em;
}

.hvrbox {
  justify-content: center;
  display: flex;
  align-items: center;
}

.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: white;
	color: grey;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}

.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}

.hvrbox.active .hvrbox-text_mobile {
	display: block;
}

.bff{
  width: 17em;
  height: 5em;
}

.this-state{
  border-radius: 1em;
  border: 6px solid lightgrey;
  width: 35em;
  height: 18em;
}

h3{
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
}

p{
  font-size: 1.3em;
}

.about-page{
  display: flex;
  justify-content: center;
  margin-top: 1em;
  animation-name: example;
  animation-duration: 1s;
}

.about-pic{
  height: 46%;
  width: 40%;
  margin-right: 2em;
}

.about-blurbs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25%;
  margin-left: 2em;
}

.about-p{
  font-size: 1.2em;
  font-weight: 100;
  text-align: justify;
  line-height: 1.5em;
}

.contact-icon{
  border-radius: 1em;
  opacity: 0.9;
  width: 3em;
  height: 3em;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 4em;
}

#email{
  opacity: 0.8;
}

.contact-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: example;
  animation-duration: 1s;
}

.contact-block{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1em 0em 2.5em 0em;
}

.contact-link:hover{
  color: grey;
  font-size: 1.3em;
}

h1{
  margin: 2em;
  font-size: 1.7em;
  letter-spacing: 0.2em;
  font-weight: 300;
}

.project-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: example;
  animation-duration: 1s;
}

.phone {
  margin: 0em 2em;
  border-radius: 1em;
  border: 1px solid white;
  width: 18em;
  height: 35em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.all-phones{
  display: flex;
  justify-content: center;
  width: 90%;
  height: 45em;
  align-items: center;
  margin: 1em;
}

.phone-dot{
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  border: 1px solid white;
}

.phone-line{
  width: 5em;
  border-bottom: 1px solid white;
}

.phone-screen{
  border-radius: 1em;
  border: 1px solid white;
  width: 90%;
  height: 77%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.phone-home{
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  border: 1px solid white;
}

.comp-outer-top{
  border-radius: 1em;
  width: 40em;
  height: 25em;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comp-inner-top{
  width: 86%;
  height: 83%;
  border: 1px solid white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.comp-stand{
  width: 2em;
  height: 7em;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.computer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 45em;
  align-items: center;
  margin: 1em;
}

.comp-base{
  width: 22em;
  height: 1em;
  border: 1px solid white;
}

.main-description{
  font-size: 1.5em;
  font-weight: lighter;
  margin: 1em;
  width: 15em;
  text-align: center;
}

.main-description-time{
  font-size: 1.3em;
  margin-bottom: 1em;
  width: 15em;
  text-align: center;
}

.project-blurb{
  margin: 2em;
  width: 60%;
  line-height: 1.9em;
  text-align: justify;
}

.project-git{
  width: 3em;
  height: 3em;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

.project-git:hover{
  width: 3.5em;
  height: 3.5em;
  opacity: 1;
}

.bottom-blurb{
  margin-top: 3em;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.bottom-description{
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.9em;
}

.bottom-links{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1em 0em;
}

.project-link{
  margin-right: 4em;
  font-size: 1.5em;
  font-weight: bolder;
  color: darkgrey;
}

.project-link:hover, .work-link:hover{
  font-size: 1.6em;
  color: black;
}

.tech{
  text-decoration: underline;
}

.work-links{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1em 0em;
}

.work-link{
  margin-right: 1em;
  font-size: 1.5em;
  font-weight: bolder;
  color: darkgrey;
}

.scroll{
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin: 10em 0em 3em 0em;
}

.scroll-links{
  color: grey;
  font-size: 1.5em;
  font-weight: 400;
}

.scroll-arrow{
  font-size: 3em;
}

.scroll-links:hover{
  text-transform: lowercase;
  cursor: pointer;
  font-size: 1.2em;
}

.hamburger-icon{
  width: 2.5em;
  height: 2.5em;
  border: 1px solid grey;
  border-radius: 0.5em;
  margin-right: 0.5em;
  display: none;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

.hamburger-links{
  display: none;
}

@media only screen and (max-width: 850px) {

nav{
  padding: 1.2em;
}

.all-nav-links{
  display: none;
}

.hamburger-icon, .hamburger-links{
  display: block;
}

.hamburger-links{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 0.5em;
}

.hamburger-nav-links {
  font-size: 1em;
  margin: 0.5em;
}

.hamburger-nav-links:hover{
  text-transform: lowercase;
}

.nav-home{
  font-size: 1.3em;
}

h1{
  margin: 2em;
}

.contact-icon {
  border-radius: 0.5em;
  width: 2em;
  height: 2em;
  margin-right: 2em;
}

}
